**/.terraform
# .tfstate files
**/terraform.tfvars
*.tfstate
*.tfstate.*
*.plan
.DS_Store
.history
.vscode/
.env
.ssh
**/node_modules/
.terraform.lock.hcl
**/inventory/**
!**/inventory/.gitkeep
**/kubadm-join.sh